/*ESTILO PARA TODA LA PAG*/
body {
  background-color:lightblue;
  padding:20px;
}
p {
  font-size:1.5em;
}
div {
  padding:30px;
  margin:20px;
  border-radius:40px;
}
div div {
  background-color:darkorange;
}
div div p { /*solo texto blanco para los ejems*/ 
  color:white;
}
div h1 { /*solo encabezados amarillos para los ejems*/ 
  color:darkblue;
  background-color:lightyellow;
  padding:3px;
}

/********DANDO FORMATO A LOS DIFERENTES TIPOS DE FONDO *****/
#fondo1 {
  /*fondo 1 con colores hexagesimales*/
  background-color:#421212;
}
/*---------------------------------------------------------*/
#fondo2 {
  /*fondo 2 con imagen */
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/ClearSpace_logo.jpg/640px-ClearSpace_logo.jpg);
}
/*----------------------------------------------------------*/
#fondo3 {
  /*fondo 2 con imagen sin repeticion */
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/ClearSpace_logo.jpg/640px-ClearSpace_logo.jpg);
  background-repeat:no-repeat; /*sin repeticion*/
}
/*----------------------------------------------------------*/
#fondo4 {
  /*position*/
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/ClearSpace_logo.jpg/640px-ClearSpace_logo.jpg);
  background-repeat:no-repeat; /*sin repeticion*/
  background-position: right bottom; /**colocar imagen */
}
/*----------------------------------------------------------*/

#fondo5 {
  /*position*/
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/ClearSpace_logo.jpg/640px-ClearSpace_logo.jpg);
  background-repeat:no-repeat; /*sin repeticion*/
  background-attachment:fixed; /*por defecto scroll*/
}
/*----------------------------------------------------------*/

#fondo6 {
  /*Todo esto en una linea*/
  /*background: colorFondo ImagenUrl repeticion posX posY fixed-scroll*/
  background: darkcyan url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/ClearSpace_logo.jpg/640px-ClearSpace_logo.jpg) no-repeat right top fixed;
}


/*----------------------------------------------------------*/
#fondoEXTRA {
  /*modificando el fondo del contenedor*/
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/ClearSpace_logo.jpg/640px-ClearSpace_logo.jpg);
  width:500px;
  height:1000px; 
}

/*----------------------------------------------------------*/
#fondoEXTRA2 {
  /*dim imagen de los fondos de la imagen*/
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/ClearSpace_logo.jpg/640px-ClearSpace_logo.jpg);
  background-size: 180px 180px;
}

#fondoEXTRA3 {
  /*expandir la imagen en todo el contenedor*/
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/ClearSpace_logo.jpg/640px-ClearSpace_logo.jpg);
  background-size:cover;
}
