h1 {
  margin:20px;
}
.caja {
  width: 200px;
  height:100px;
  color:white;
  font-size:2em;
  text-align:center;
}
#caja1 {background-color: red;}
#caja2 {background-color: blue;}
#caja3 {background-color: green;}
#caja4 {background-color: yellow; color:black;}
#caja5 {background-color: orange; color:black;}
.contenedor {
  padding:20px;
  width:100%;
  background-color:lightblue;
}
/* ---------------------------- - */

#_row {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
 }

/* ---------------------------- - */

#_row_reverse {
  display:flex;
  flex-direction:row-reverse;
  flex-wrap:nowrap;
}

/* ---------------------------- - */
#_column {
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
}
/* ---------------------------- - */
#_column_reverse {
  display:flex;
  flex-direction:column-reverse;
  flex-wrap:nowrap;
}



