body {
  background-color:lightblue;
  font-family:Arial, Helvetica, sans-serif;
}
#contenedor {
  border-radius:30px;
  background-color:white;
  margin:30px;
  padding:20px;
}
button {
  background-color:darkblue;
  color:white;
  padding:40px;
  font-size:2em;
}
